data/processed/*
backend/data/*
wandb/*
backend/wandb/*
frontend/node_modules/*
frontend/package-lock.json
frontend/package.json
backend/checkpoints/*
.venv/*

# Ignore large files and directories
.venv/lib/python3.9/site-packages/torch/lib/libtorch_cpu.dylib
backend/checkpoints/best_model.pth
.venv/lib/python3.9/site-packages/torch/lib/
backend/checkpoints/
